/* 
 -------------------------------------------------
 YAMP Nextflow base config file
 -------------------------------------------------

 A 'blank slate' config file, appropriate for general
 use on most high performance compute environments.

 Assumes that all software is installed and available
 on the PATH. Runs in `local` mode - all jobs will be
 run on the logged in environment.
*/

params 
{
    config_profile_name        = 'Default profile'
    config_profile_description = 'YAMP default workflow'
		
    /* 	Execution flow parameters
     --------------------------------*/		

	mode="complete" //Whether it should perform only QC, community characterisation, or both (default: both)
    singleEnd = false  //Whether we the input reads are single or paired-end 
	qc_matepairs = false // Whether we wait until after QC to combine mate pairs
	dedup = false	//Whether the de-duplication step should be performed
		
  	outdir="$params.indir"
				
    /* 	Processing parameters
     --------------------------------*/
   
    qin=33 //Input quality offset: 33 (ASCII+33) or 64 (ASCII+64)
    
    // Synthetic contaminant removal
    artefacts = "$projectDir/assets/data/sequencing_artifacts.fa.gz"
    phix174ill = "$projectDir/assets/data/phix174_ill.ref.fa.gz" // or "/local/projects/grc/pipelines_illumina/conf/phix.fa"
    
    // Parameters for adapter/quality trimming
    phred = 20 //regions with average quality BELOW this will be trimmed 
    minlength = 60 //reads shorter than this after trimming will be discarded      
    adapters = "/local/projects/grc/pipelines_illumina/conf/FastQC.adapters.revised.2.fasta"
  
    //Reference pan-genome for contamination
    foreign_genome = "/local/projects-t3/MSL/pipelines/packages/YAMP/assets/data/foreign_genomes/hg19_main_mask_ribo_animal_allplant_allfungus/hg19_main_mask_ribo_animal_allplant_allfungus.fa.gz" //To be used when the reference genome has not been indexed yet
    foreign_genome_ref = "/local/projects-t3/MSL/pipelines/packages/YAMP/assets/data/foreign_genomes/hg37dec_v0.1/" //To be used when the reference genome has already been indexed
  
    //BowTie2 databases for MetaPhlAn
    metaphlan_databases="/local/projects-t3/MSL/pipelines/packages/YAMP/assets/data/metaphlan_databases/"
    bt2options="very-sensitive" //presets options for BowTie2
  
    // ChocoPhlAn and UniRef databases for HUMANn analysis
    chocophlan="/local/projects-t3/MSL/pipelines/packages/YAMP/assets/data/chocophlan"
    uniref="/local/projects-t3/MSL/pipelines/packages/YAMP/assets/data/uniref90"	
}

process 
{
	time =  '24h'
	errorStrategy = 'retry'
	maxErrors = 5
	cpus = 7
	memory = '52 GB'
    cache = 'lenient'

    withName: preprocess {
        time = '72h'
    }

	withName: alpha_diversity
	{
		errorStrategy = 'ignore'
	}

	withLabel: hclust
	{
		errorStrategy = 'ignore'
	}

    withName: alpha_diversity
	{
		errorStrategy = 'ignore'
	}

}
