/* 
 -------------------------------------------------
 YAMP Nextflow Conda config file
 -------------------------------------------------
	Provides information for all conda environments needed to run YAMP.
*/
conda {
	cacheDir = '/local/projects-t3/MSL/pipelines/packages/envs/.YAMP/'
	createTimeout = '1 h'
}

env.PATH="/usr/local/packages/miniconda3/condabin:\$PATH"

process 
{
	withName: quality_assessment {
		conda = 'bioconda::fastqc'
	}

	withLabel: hclust
	{
		conda = 'python=2.7 bioconda::hclust2'
	}

	withName: alpha_diversity{
		conda = "qiime2::qiime2"
	}

	withLabel: biobakery
	{
		conda = "$baseDir/conf/conda/biobakery3.yaml"
	}

	withName: log
	{
		conda = "$baseDir/conf/conda/multiqc.yaml"
	}

}
