/* 
 -------------------------------------------------
 YAMP Nextflow Conda config file
 -------------------------------------------------
	Provides information for all conda environments needed to run YAMP.
*/

params.enable_conda    = true

conda {
	cacheDir = '/local/projects-t3/MSL/pipelines/packages/envs/.YAMP/'
	createTimeout = '1 h'
}

env.PATH="/usr/local/packages/miniconda3/condabin:\$PATH"

process 
{
	withName: quality_control {
		conda = 'bioconda::fastqc'
	}

	withName: preprocess {
		conda = 'kneaddata'
	}
	
	withLabel: hclust
	{
		// conda = 'python=2.7 bioconda::hclust2'
		conda = '/local/projects-t3/MSL/pipelines/packages/envs/hclust2' // contains code for selecting top X samples by simple sum of values
	}

	withName: alpha_diversity{
		conda = "qiime2::qiime2"
	}

	withLabel: biobakery
	{
		conda = "$baseDir/conf/conda/biobakery3.yaml"
	}

	//withName: log
	//{
	//	conda = "$baseDir/conf/conda/multiqc.yaml"
	//}

}
