/* 
 -------------------------------------------------
 YAMP Nextflow MSL config file
 -------------------------------------------------

 A config file customized for the Microbiome Service Laboratory's YAMP 
 installation. Only has parameters pertaining to our filesystem layout
*/


params 
{
    

	/*--------------------------------*
	 *	PATHS TO EXTERNAL RESOURCES
	 *--------------------------------*/
		
	//Adapter sequences and synthetic contaminants to be removed in the trimming step
	adapters="/local/projects/drasko/thazen/scripts/illumina.adapters.current.fasta.txt"	
	artifacts="$projectDir/resources/sequencing_artifacts_null.fa"
	phix174ill="/local/projects/drasko/thazen/scripts/phiX174.fas"	
	
	//Reference pan-genome for contamination. It should have been indexed beforehand.
	//Actually the files are a bbmap index in the ./ref sub-directory
	refForeingGenome="$projectDir/resources/"
	
	// Kraken2 database
	kraken2_db="/local/scratch/jolim/kraken_dbs/standard+p+f+h"

	//BowTie2 database for MetaPhlAn2
	mpa_pkl="/usr/local/packages/metaphlan-2.7.8/metaphlan_databases/mpa_v20_m200.pkl"
	bowtie2db="/usr/local/packages/metaphlan-2.7.8/metaphlan_databases/"
	bowtie2dbfiles=""
	
	// ChocoPhlAn and UniRef databases
	chocophlan="$baseDir/assets/data/chocophlan"
    uniref="$baseDir/assets/data/uniref90/uniref"	
	
	//[OPTIONAL]
    //Newick tree filepath, required for phylogenetic alpha diversity (PD_whole_tree, QIIME)
	treepath="null" 

}

env.PATH="/local/projects-t3/MSL/pipelines/packages/bbmap:/usr/local/packages/miniconda3/condabin:\$PATH"

