/* 
 -------------------------------------------------
 YAMP Nextflow MD Genomics config file
 -------------------------------------------------

 A config file customized for the MD Genomics YAMP installation. Run a 
 `nextflow run ...` command with this configuration to execute analysis on the
 same node. Production-scale analysis is accomodated by a node with 1TB RAM.
 Here, the memory directives only exist to tell the contained processes how much
 RAM to use. I think Nextflow will limit concurrency by cpus.
*/

process 
{

	executor = 'local'
	
	scratch = false

	cpus = 1
	memory = '1 GB'	  
	errorStrategy = 'retry'

	withName: merge_paired_end_reads
	{
		cpus = 7
		memory = '25 GB'
	}

	withName: preprocess
	{
		cpus = 7
		memory = '34 GB'
	}

	withName: quality_control
	{
		cpus = 4
		memory = '1 GB'	  
	}
	
	withName: profile_taxa 
	{
		cpus = 4
		memory = '8 GB'  
	}

	withName: alpha_diversity
	{
		cpus = 1
		memory = '1 GB'	  
	}
	
	withName: profile_function 
	{
		cpus = 16
		memory = '116 GB'  
	}	
	
	withName: collect_functional_profiles 
	{
		memory = '4 GB'
	}
	withName: log
	{
		time =  '30m' 
		cpus = 1
		memory = '1 GB'	 
	}

}