/* 
 -------------------------------------------------
 YAMP Nextflow MSL config file
 -------------------------------------------------

 A config file for running analysis of paired-end metagenomes.
*/


params 
{
    //Whether we the input reads are paired-end (two files, librarylayout="paired")
	//or single-end (one file, librarylayout="single")
	librarylayout = "paired"
	
	//Whether the de-duplication step should be performed
	dedup = true
	decontaminate = true
			
	//Whether the temporary files resulting from QC steps should be kept
	keepQCtmpfile = false
	//Whether the temporary files resulting from MetaPhlAn2 and HUMAnN2 should be kept
	keepCCtmpfile = false 

    //Whether alpha-diversity should be calculated
	alphadiversity = false

	/*--------------------------------*
	 *	SOFTWARE PARAMETERS
	 *--------------------------------*/

     //BBduk parameters for trimming	
	qin=33 //Input quality offset: 33 (ASCII+33) or 64 (ASCII+64)
	kcontaminants = 23 //Kmer length used for finding contaminants	
	phred = 2 //regions with average (6-base?) quality BELOW this will be trimmed 
	minlength = 60 //reads shorter than this after trimming will be discarded
	// (https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3374609/)
	// (https://academic.oup.com/gigascience/article/7/7/giy072/5039705#118805999)
    mink = 11 //shorter kmers at read tips to look for 
	hdist = 1  //maximum Hamming distance for ref kmers        
	hdist2 = 2 //maximum Hamming distance for smaller (mink) 3' kmers  
	maq = 0 // discard reads below this average quality  
	mlf = 0 // discard reads that are less than this percent of original length

    	//BBwrap parameters for decontamination	
	mind = 0.95 //Approximate minimum alignment identity to look for (http://seqanswers.com/forums/showthread.php?t=42552)
	maxindel = 3 //longest indel to look for
	bwr=0.16 //restrict alignment band to this
	
	//MetaPhlAn2 parameters 
	bt2options="very-sensitive" //presets options for BowTie2
}
