/* 
 -------------------------------------------------
 YAMP Nextflow MD Genomics config file
 -------------------------------------------------

 A config file showing how to submit to a specific SGE queue and target a single
 execution host.
*/

process 
{

	executor = 'sge'
	
	//Set the used queue, this queue will be used for all the processes	
	queue = 'sequencing.q'
	penv = 'thread'
  	clusterOptions = {"-cwd -b n -P jravel-lab -V -l hostname=(izzy)"}
	scratch = false

	cpus = 1
	memory = '1 GB'	  
	errorStrategy = 'retry'
	maxErrors = 10

	withName: merge_paired_end_reads
	{
		cpus = 7
		memory = '25 GB'
	}

	withName: preprocess
	{
		cpus = 7
		memory = '34 GB'
	}

	withName: quality_control
	{
		cpus = 4
		memory = '1 GB'	  
	}
	
	withName: profile_taxa 
	{
		cpus = 4
		memory = '8 GB'  
	}

	withName: alpha_diversity
	{
		cpus = 1
		memory = '1 GB'	  
	}
	
	withName: profile_function 
	{
		cpus = 16
		memory = '116 GB'  
	}	
	
	withName: collect_functional_profiles 
	{
		memory = '4 GB'
	}
	withName: log
	{
		time =  '30m' 
		cpus = 1
		memory = '1 GB'	 
	}

}