/* 
 -------------------------------------------------
 YAMP Nextflow MSL config file
 -------------------------------------------------

 A config file customized for the Microbiome Service Laboratory's YAMP 
 installation. Only has parameters pertaining to SGE
*/

process 
{

	executor = 'sge'
	
	//Set the used queue, this queue will be used for all the processes	
	queue = 'threaded.q'
	penv = 'thread'
  	clusterOptions = {"-cwd -b n -P jravel-lab -V"}
	
	cpus = 1
	memory = '1 GB'	  

	withName: merge_paired_end_reads
	{
		cpus = 7
		memory = '25 GB'
	}

	withName: preprocess
	{
		cpus = 7
		memory = '25 GB'
		maxForks = 7
	}

	withName: quality_assessment
	{
		cpus = 4
		memory = '1 GB'	  
	}
	
	withName: profile_taxa 
	{
		cpus = 4
		memory = '8 GB'  
	}

	withName: alpha_diversity
	{
		cpus = 1
		memory = '1 GB'	  
	}
	
	withName: profile_function 
	{
		cpus = 16
		memory = '116 GB'  
		maxForks = 7
	}	
	
	withName: collect_functional_profiles 
	{
		memory = '4 GB'
	}
	withName: log
	{
		time =  '30m' 
		cpus = 1
		memory = '1 GB'	 
	}

}