/* 
 -------------------------------------------------
 YAMP Nextflow MSL config file
 -------------------------------------------------

 A config file customized for the Microbiome Service Laboratory's YAMP 
 installation. Only has parameters pertaining to SGE
*/

process 
{

	executor = 'sge'
	//executor = 'local'
	
	//Set the used queue, this queue will be used for all the processes	
	queue = 'threaded.q'
	penv = 'thread'
  	clusterOptions = {"-cwd -b n -P jravel-lab -V"}
	
	time =  '15m'
	cpus = 1
	memory = '100 MB'	  
	
}